/* Roboto slab font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* aquí agregué un estilo a la nav y utilicé margin y padding para que cubriera todo el header y no se viera tan pequeño
solo no sé si es correcto usarlo así, pero me gustó el resultado */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  grid-area: header;
  padding: 20px;
  background-color: #830C0C;
}

/* Aplicando herencia en los estilos de la navbar */

nav ul{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}

.nav-li {
  list-style: none;
}

.nav-li a {
  text-decoration: underline;
  color: #DAFAFB;
}

body {
   min-height: 100vh;
   background: url("../images/trazadosnegros.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   font-family: "Roboto Slab", serif;
   background-color: #090B0A;
}

.grid-layout {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"  
  "sidebar"
  "featured"
  "footer" ;
  color:#DAFAFB;
}


@media (min-width: 768px) {
  .grid-layout {
  grid-template-columns: 1fr;
  grid-template-areas: 
  "header header" 
  "featured featured"
  "sidebar main"
  "footer footer" ;
  }
}


@media(min-width: 1024px) {
  .grid-layout {
    grid-template-columns: 1fr;
    grid-template-areas: 
  "header header"  
  "sidebar featured"
  "footer footer" ;
  }
}
.sidebar {
  grid-area: sidebar;
}

main {
  padding: 5rem 20px;
}

.featured {
  grid-area: featured;
}

.inicio-texto, .servicios-texto, .contacto-texto  {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 20px;
}

.biografia-container {
  height: 30rem;
  display:flex;
  border: 0.2rem solid #830C0C;
  background:#090B0A
}

.biografia-view {
  width: 15rem;
  display:flex;
  flex-direction: column;
  border-right: 0.2rem solid #830C0C;
  gap: 20px;
  padding: 1rem;
}

.biografia-texto {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}
.biografia-foto {
  height: 16rem;
  display: flex;
  justify-content: center;
}

/* estilo de las citas textuales */
.cita-textual {
  font-style: italic;
  text-decoration: underline;
}
/* estilo de los titulos */
h1{
  font-size: 2.5rem;
  font-weight: 700;
  color: #E0FBFC;
}
/* estilo de los subtitulos */
h2{
  font-size: 2rem;
  font-weight: 700;
  color: #E0FBFC;
}
/* estilo de los parrafos */
p {
  font-size: 1.25rem;
  color: #DAFAFB;
}
/* listas de los proyectos y contacto */
li {
  font-size: 1rem;
  color: #DAFAFB;
}
/* Quería experimentar e implementar un acento a la página sin necesidad de usar imagenes o alargar la pagina. 
Fue interesante experimentar con la pagina MDN para aprender a usar la propiedad inline-size y me gustó el resultado. */


.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 2rem;
  list-style: none;
}
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px
}
.card {
  display: flex;
  gap: 1rem;
  padding: 1.25rem;
  margin: 0;
  border: 1px solid #DAFAFB;
  border-radius: 0.5rem ;
  align-self: flex-start;
}

.item {
  background: #830C0C;
  border: 2px solid #830C0C;
  padding: 20px;
  gap: 1rem;
}
.card a {
  color: #DAFAFB
}
/* estilo de los captions de las imagenes */
figcaption {
  font-size: 0.8rem;
  color: #DAFAFB;
  font-style: italic;
}

/* estilo del footer */
footer {
  grid-area: footer;
  text-align: center;
  font-size: 0.8rem;
  color: #DAFAFB;
}

.picture {
  width: 14rem;
  height: 12rem;
}