/* Roboto slab font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* aquí agregué un estilo a la nav y utilicé margin y padding para que cubriera todo el header y no se viera tan pequeño
solo no sé si es correcto usarlo así, pero me gustó el resultado */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #830C0C;
  padding: 10px;
  gap: 10px;
  text-align: center;
}

/* Aplicando herencia en los estilos de la navbar */
.nav-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.nav-li a {
  text-decoration: underline;
  color: #DAFAFB;
}
/* estilo de la fuente de letra para la página */ /* Adicion de fondo a la pagina para que tuviera mayor vida y no se viera tan vacía con los colores oscuros */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
   min-height: 100%;
   background: url("../images/trazadosnegros.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   font-family: "Roboto Slab", serif;
   background-color: #090B0A;
}

main {
  display: flex;
  flex: 1;
}

/* estilo de las citas textuales */
.cita-textual {
  font-style: italic;
  text-decoration: underline;
}
/* estilo de los titulos */
h1{
  font-size: 2.5rem;
  font-weight: 700;
  color: #E0FBFC;
}
/* estilo de los subtitulos */
h2{
  font-size: 2rem;
  font-weight: 700;
  color: #E0FBFC;
}
/* estilo de los parrafos */
p {
  font-size: 1.25rem;
  color: #DAFAFB;
}
/* listas de los proyectos y contacto */
li {
  font-size: 1rem;
  color: #DAFAFB;
}
/* Quería experimentar e implementar un acento a la página sin necesidad de usar imagenes o alargar la pagina. 
Fue interesante experimentar con la pagina MDN para aprender a usar la propiedad inline-size y me gustó el resultado. */
.cards {
  display:flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  margin: 1rem
}

.card{
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #DAFAFB;
  border-radius: 0.5rem;
  inline-size: 20rem;
}
/* estilo de los captions de las imagenes */
figcaption {
  font-size: 0.8rem;
  color: #DAFAFB;
  font-style: italic;
}

/* estilo del footer */
.p-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 0.8rem;
  color: #DAFAFB;
}