@use '../utilities/variables';
@use '../utilities/mixins';

%btn-base-visual {
  background: variables.$color-primary;
  color: variables.$color-text;
  align-self: flex-start;
}

.btn,
.contacto-form button {
  @extend %btn-base-visual;
  @include mixins.btn-base;
 
  &:hover {
    background: variables.$color-heading;
    color: variables.$color-primary;
  }
}

