@use '../utilities/variables';
@use '../utilities/mixins';
 


// ----- Reset -----
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
a {
  text-decoration: none;
}
 
li {
  font-size: 1rem;
  color: variables.$color-text;
}
 
figcaption {
  font-size: 0.8rem;
  font-style: italic;
  color: variables.$color-text;
}
 
// ----- Body -----
body {
  background: url("../images/trazadosnegros.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: variables.$color-bg;
  font-family: variables.$font-primary;
  color: variables.$color-text;
  text-align: center;
}
 