@use '../utilities/variables';
@use '../utilities/mixins';
 
h1 { @include mixins.heading(2.5rem); }
h2 { @include mixins.heading(2rem); }
h3 { @include mixins.heading(1.5rem); }
 
p {
  font-size: 1.25rem;
  color: variables.$color-text;
}

// ----- Cita textual -----
.cita-textual {
  font-style: italic;
  text-decoration: underline;
}